beautifulsoup4==4.8.2
Flask==2.2.3
Flask==2.3.2
Flask==2.2.5
Flask_Cors==4.0.0
fpdf==1.7.2
fpdf2==2.7.5
google_api_python_client==2.86.0
google_api_python_client==2.111.0
google_api_python_client==2.70.0
google_auth_oauthlib==1.2.0
google_search_results==2.4.2
openai==0.27.2
openai==0.28.1
protobuf==3.20.3
PyPDF2==3.0.1
qdrant_client==1.7.0
readability_lxml==0.8.1
Requests==2.31.0
serpapi==0.1.5
streamlit==1.25.0
streamlit==1.27.0
streamlit==1.29.0
streamlit==1.26.0
tiktoken==0.3.3
tiktoken==0.4.0
tiktoken==0.5.1
